<div class="col-md-6 mx-auto">
  <% if @activities.exists? %>
    <% @activities.each do |activity| %>
      <%= render "activities/active", activity: activity %>
    <% end %>
  <% else %>
    <p class="text-center">
      | アクティビティはありません</p>
      
  <% end %>
      </div>